<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>save</title>
</head>
<body>
<h1>회원가입</h1>
<form action="/save" method="post">
아이디:<input type="text" name="userId" id="Id"><br>
이름 : <input type="text" name="userName" id="Name"><br>
이메일 :<input type="text" name="userEmail" id="Email"><br>
비밀번호 :<input type="text" name="userPassword" id="Password"><br>
전화번호 : <input type="text" name="userPhone" id="Phone"><br>
<input type="submit" value="회원가입">
</form>

</body>
</html>